{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!
{% endblock %}

{% block body %}

	<div style="background-image:url(/images/manager.jpg)">

		<p>{{manager.description}}</p>
		<p></p>
		<p>
			{{manager.lastname}}
		</p>
		<p>
			{{manager.firstname}}
		</p>

	</div>
{% endblock %}
