<section class="small-features">
	<div class="container">
		<div class="inner-content">
			<div class="row">
				<div
					class="col-lg-4 col-md-4 col-12">
					<!-- Start Single Feature -->
					<div class="single-feature">
						<i class="lni lni-investment"></i>
						<h2>Innovative business
							<span>Easy to customize</span>
						</h2>
					</div>
					<!-- End Single Feature -->
				</div>
				<div
					class="col-lg-4 col-md-4 col-12">
					<!-- Start Single Feature -->
					<div class="single-feature">
						<i class="lni lni-pie-chart"></i>
						<h2>Expertly marketing
							<span>High quality services</span>
						</h2>
					</div>
					<!-- End Single Feature -->
				</div>
				<div
					class="col-lg-4 col-md-4 col-12">
					<!-- Start Single Feature -->
					<div class="single-feature">
						<i class="lni lni-handshake"></i>
						<h2>Engaging audiences
							<span>Build perfect websites</span>
						</h2>
					</div>
					<!-- End Single Feature -->
				</div>
			</div>
		</div>
	</div>
</section>
