<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-8 offset-lg-2 col-md-12 col-12">
				<div class="breadcrumbs-content">
					<h1 class="page-title">{{current_Page}}</h1>
				</div>
				<ul class="breadcrumb-nav">
					<li>
						<a href="{{path(parentPage)}}">{{parentPage}}</a>
					</li>
					<li>{{current_Page}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->
