{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!
{% endblock %}

{% block body %}

	{% set page = 'blog' %}

	<!-- Start Blog Grid Area -->
	<section class="section blog-section blog-list">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-12">
					<div class="row">
						{% for article in articles %}
							{% include 'blog/_article-mini.html.twig' %}
						{% endfor %}

					</div>

					<!-- Pagination -->
					<div class="pagination left blog-grid-page">

						<ul class="pagination-list">
							{% for page in range(1,numberPages) %}

								{% if articles.currentPageNumber == page %}

									{% set activeclass = 'active' %}
								{% else %}

									{% set activeclass = 'null' %}
								{% endif %}
								<li class={{activeclass}}>
									<a href={{path('blog_index',{page:loop.index} )}}>{{page}}</a>
								</li>
							{% endfor %}

						</ul>
					</div>
					<!--/ End Pagination -->

				</div>
				{% include "/blog/aside.html.twig" %}
			</div>
		</div>
	</section>
	<!-- End Blog Grid Area -->


{% endblock %}
