<!-- Start Contact Area -->
<section id="contact-us" class="contact-us section">
	<div class="container">
		<div class="contact-head wow fadeInUp" data-wow-delay=".4s">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h3 class="wow zoomIn" data-wow-delay=".2s">Contact</h3>
						<h2 class="wow fadeInUp" data-wow-delay=".4s">Nous vous accompagnons</h2>
						<p class="wow fadeInUp" data-wow-delay=".6s">Contactez nous du lundi au vendredi , de 9h à 19h</p>
					</div>
				</div>
			</div>
			<div class="contact-info">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-info">
							<i class="lni lni-map"></i>
							<h3>Adresse</h3>
							<ul>
								<li>114 B Route de Crémieu,</li>
																													<li>38230 Tignieu Jameyzieu.</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-info">
							<i class="lni lni-phone"></i>
							<h3>Telephone</h3>
							<ul>
								<li><a href="tel:+18005554400">06 50 59 78 39</a></li>
								<li><a href="tel:+321556667890">04 23 30 12 18</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-info">
							<i class="lni lni-envelope"></i>
							<h3>Mail</h3>
							<ul>
								<li><a href="mailto:supportteam@example.com">a.rousselot@live.fr</a></li>
								<li><a href="mailto:career@example.com">zoutigo@gmail.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/ End Contact Area -->
