<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Bienvenue sur le site!
			{% endblock %}
		</title>

		<link
		rel="shortcut icon" type="image/x-icon" href="assets/template/assets/images/favicon.svg"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!-- Start Header Area -->
		<x-search></x-search>
		{% set current_Page = app.request.get('_route') %}

		<!-- Preloader -->
		{# <div class="preloader">
			<div class="preloader-inner">
				<div class="preloader-icon">
					<span></span>
					<span></span>
				</div>
			</div>
		</div> #}
		<!-- /End Preloader -->
		{% include "base/header.html.twig" %}
		{% if controller_name is not same as('HomeController') %}
			{% include "base/breadcrumbs.html.twig" %}

		{%endif %}
		{% block body %}{% endblock %}
		{% include "base/footer.html.twig" %}

	</body>
</html>
